html {

}

body{
  transition: ease-in-out background 0.4s;
  background-image: url("../images/grid-bg.png");
  background-size: 1440px;

}

body.main{
  margin: 0;
  padding: 0;
}

*{
  font-family: Almarai;
  letter-spacing: -0.035em;

}
/* background grid GARBAGEd
img{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 1440px;
  height: 1920px;

} */
nav {
  position: absolute;
  top: 1%;
  margin-left: auto;
  align-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.3em;
  margin-left: -8em;
}

li {
  margin-top: 1.3em;
  padding-left: 2rem;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;

}

 li a{
   font-weight: 700;
   font-size: 28px;
   color: inherit;
   text-decoration: none;
 }

 .modeToggle {
   background-color: #000; /*white*/
   margin-left: 70em;
   padding-right: 3em;
   margin-top: -0.5rem;
 }

.headline{
  position: absolute;
  width: 650px;
  height: 100px;
  left: 113px;
  top: 160px;
  /*background-color: #79EDED; /* cyan */

}

h1 {
  position: absolute;
  width: 716px;
  height: 80px;
  left: 0.3em;
  top: -0.5em;

  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  display: flex;
  align-items: center;
  z-index: 0;
  color: #000;
}

h2 {
  position: absolute;
  width: 976px;
  height: 40px;
  left: 3.2em;
  top: 7.1em;

  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px 1em 0 1em;
  background-color: #FFEB3C;
}

h4 {
  font-weight: 300;
  font-size: 24px;
  margin: 1em 0 1.5em 30px;
}

p {
  font-size: 24px;
  margin: 10px 0 0 30px;
}

#home{
  font-weight: 800;
  font-size: 55px;
  position: absolute;
  left: 2.5%;
  text-decoration: none;
  color:inherit;
  -webkit-text-stroke-width: 1px;
  transition: color 0.4s ease-in-out, -webkit-text-stroke-width 0.4s, -webkit-text-stroke-color 0.4s;

}

.topHeader a:hover, #home:hover{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  transition: color 0.4s ease-out;
}

#gravity {
  -webkit-appearance: none;

}

/* NOTE: OLD NAVBAR STYLE
.navbar a{
  display: flex;
  float: right;
  font-weight: 700;
  font-size: 36px;
  margin-right: 1em;
  margin-left: 30em;
  margin-top: 0.3em;
}
*/

div.cases {
  position: absolute;
  float: right;
  left: 7.5em;
  top: 22.5em;

}

.cases img{
  border-bottom: 2px solid black;
}

div.card {
  float: left;
  width: 420px;
  margin-right: 3.5em;
  margin-bottom: 3.5em;
  background-color: white;
  border: 2px solid black;
  color: black;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform ease-in-out 0.4s

}

/*
.cases img{
  position: absolute;
  display: table;
  float: right;
  width: 478px;
  height: 580px;
  margin-right: 5em;
  left: 5.5em;
  top: 22.5em;
}*/



.card:hover {
  transform: scale(1.1);
  transition: transform ease-in-out 0.4s
}



#toggle {
  -webkit-appearance: none;
   appearance: none;
   height: 20px;
   width: 45px;
   background-color: #e5e5e5; /*toggle colour: grey*/
   position: absolute;
   border-radius: 20px;
   outline: none;
   cursor: pointer;
   border-width: thin;
   border-style: solid;
}

#toggle:after{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #ffffff; /*ball colour: white*/
    top: -3px;
    left: -2px;
    border-radius: 50%;
    transition: left 0.4s ease-in-out;
    border-width: thin;
    border-style: solid;

}

.dark-theme{
    background-color: #15181f; /*dark mode colour*/
    color: #e5e5e5; /*font color*/
}

.dark-theme nav a{
  color: #e5d:
}

.dark-theme .card{
    border-color: #1A49F1; /*border colour*/
}

.dark-theme img {
  border-color: #1A49F1; /*border colour*/
}

.dark-theme nav a:hover, .dark-theme #home:hover{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e5d;
}
.dark-theme #toggle{
    background-color: #1D2330; /*toggle colour: dark blue*/
    border-color: #FFF;
}
.dark-theme #toggle:after{
    background-color: #21335B; /*ball colour: blue*/
    top: -3px;
    left: 23px;
    border-color: #FFF;
}
